<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210961522005-jiel09s9dhcn5lelou6sfse65brui9tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210961522005-jiel09s9dhcn5lelou6sfse65brui9tn</string>
	<key>API_KEY</key>
	<string>AIzaSyAa0m7bv_5OoXFkGhFvSSpNaSMGJ1lbZ3U</string>
	<key>GCM_SENDER_ID</key>
	<string>210961522005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamtemp.teamtemp</string>
	<key>PROJECT_ID</key>
	<string>teamtemp-be4c9</string>
	<key>STORAGE_BUCKET</key>
	<string>teamtemp-be4c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210961522005:ios:0cc1fe4a93634d41cea3dc</string>
	<key>DATABASE_URL</key>
	<string>https://teamtemp-be4c9.firebaseio.com</string>
</dict>
</plist>